body {
    background-color: #080808; /* Dark mode for less eye strain */
    color: #00f2ff; /* High-contrast cyan */
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

.num-display {
    font-size: 6rem;
    font-weight: bold;
    margin-top: 15%;
}